[user]
	name = bobbyrahmanda13
	email = bobbyrahmanda1996@protonmail.com
[credential]
	helper = cache --timeout=604800
	username = bobbyrahmanda13
[init]
	defaultBranch = core
[core]
	editor = nvim
[alias]
	st = status --short
	cm = commit -m
	br = branch
	co = chekout
	gp = push

