[user]
	name = bobbyrahmanda13
	email = bobbyrahmanda1996@protonmail.com
[credential]
	helper = cache --timeout=604800
	username = bobbyrahmanda13
[init]
	defaultBranch = core
[core]
	editor = nvim
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[push]
  default = upstream
[safe]
	directory = /media/rahman/Black/rahmanapps/dotfiles
	directory = /media/rahman/Black/rahmanapps/udemy-nuxt-projects
